global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'consul'
    consul_sd_configs:
      - server: 'consul:8500'
        services: []
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*
        action: keep
        replacement: $1

  - job_name: 'kong'
    static_configs:
      - targets: ['kong:8001']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
