apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Consul
    type: prometheus
    access: proxy
    url: http://consul:8500/v1/prometheus
