[Unit]
Description=Healthcheck for mail-server
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /Users/yanyu/0379.email/healthcheck/ping.sh mail 3003
User=yanyu
Group=staff

[Install]
WantedBy=multi-user.target
